.avatar {
  display: flex;
  align-items: center;
}

#header .links > * {
  margin-left: 16px;
}

#header .title {
  max-width: 320px;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: none;
  cursor: text;
  line-height: 18px;
  margin-right: 0.5em;
  color: var(--primary-accent);
}

#header input.title:focus {
  border: none;
  outline: none;
  width: 400px;
}

button.login {
  border-radius: 4px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 16px;
}

.loading-bar {
  height: 4px;
  background: linear-gradient(138.3deg, #236eff 7.98%, #71e5ff 93.53%);
  transition-duration: 300ms;
}

@keyframes dropdownFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @media (max-width: 760px) {
  #header .title {
    width: 140px;
  }
}

@media (max-width: 600px) {
  #header .title {
    display: none;
  }
} */
